<!doctype html>
<html lang="en">
<head>
<title>Inscriptos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/91669f9d31.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header id="header"></header>
<main class="flex-grow-1">
<div id="app" class="container-fluid my-3">
<h1 class="mb-0">Inscripciones</h1>
<br>
<a class="btn btn-warning" href="alta.html">Agregar nuevo inscripto</a>
<br><br>
<div v-if="error">
    <p>Lo sentimos , ........</p>
    </div>
    <div v-else>
    <section v-if="cargando">
    <div class="spinner-border"></div>
    <p>Cargando .....</p>
    </section>
    <section v-else>
    <div class="table-responsive">
    <table class="table table-bordered table-hover custom-table">
    <thead class="text-center thead">
    <tr>
        <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Edad</th>
    <th scope="col">Género</th>
    <th scope="col">Nacionalidad</th>
    <th scope="col">Tipo documento</th>
    <th scope="col">Número documento</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Cobertura Médica</th>
    <th scope="col">Nombre contacto</th>
    <th scope="col">Teléfono contacto</th>
    <th scope="col">Circuito</th>
    <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody class="text-center">
        <tr v-for="(inscripto, index) in inscriptos" :key="inscripto.numeroDocumento">
            <td scope="row">{{index + 1}}</td>
    <td>{{inscripto.nombre}}</td>
    <td>{{inscripto.apellido}}</td>
    <td>{{inscripto.edad}}</td>
    <td>{{inscripto.genero}}</td>
    <td>{{inscripto.nacionalidad}}</td>
    <td>{{inscripto.tipoDocumento}}</td>
    <td>{{inscripto.numeroDocumento}}</td>
    <td>{{inscripto.telefono}}</td>
    <td>{{inscripto.coberturaMedica}}</td>
    <td>{{inscripto.nombreContacto}}</td>
    <td>{{inscripto.telefonoContacto}}</td>
    <td>{{inscripto.circuito}}</td>
    <td>
        <a class="custom-icon-edit me-3" :href="'update.html?numeroDocumento=' + inscripto.numeroDocumento" data-tip="edit"><i class="fa fa-edit"></i></a>
        <a class="custom-icon-delete" :href="'javascript:void(0);'" data-tip="delete" @click="eliminar(inscripto.numeroDocumento)"><i class="fa fa-trash"></i></a>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </section>
    </div>
    </div>
    </main>
    <footer id="footer" class="container-fluid text-center d-flex flex-column justify-content-center"></footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
        <script src="js/headerYFooter.js"></script>
        <script src="js/inscriptos.js"></script>
        </body>
        </html>