<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Inscripciones</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/update.css">
    <script src="https://kit.fontawesome.com/91669f9d31.js" crossorigin="anonymous"></script>
</head>

<body class="body-i">
    <header id="header" class="header-i"></header>
    <section>
        <div id="app" class="grilla">
            <div class="card">
                <div class="card-header">Buscar Su Inscripcion</div>
                <div class="card-body">
                    <div class="group">
                        <input type="text" name="numeroDocumento" v-model="numeroDocumento" class="form-control ml-2"
                            placeholder="Nùmero de Documento" />
                        <div class="input-group-append">
                            <button v-on:click="Buscar()">Buscar</button>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Informacion de su Inscripcion</div>
                <div class="card-body">
                    <div class="group">
                        <label for="nombre">Numero de Documento *</label>
                        <input type="text" name="numeroDocumento" v-model="numeroDocumento"/>
                        <label for="nombre">Nombre *</label>
                        <input type="text" name="nombre" v-model="nombre" />
                        <label for="nombre">Apellido *</label>
                        <input type="text" name="apellido" v-model="apellido" />
                        <label for="nombre">Edad *</label>
                        <input type="text" name="edad" v-model="edad" />
                        <label for="nombre">Genero *</label>
                        <input type="text" name="genero" v-model="genero" />
                        <label for="nombre">Nacionalidad *</label>
                        <input type="text" name="nacionalidad" v-model="nacionalidad" />

                        <label for="nombre">Tipo de documento *</label>
                        <input type="text" name="tipoDocumento" v-model="tipoDocumento" />

                        <label for="nombre">Teléfono *</label>
                        <input type="text" name="telefono" v-model="telefono" />

                        <label for="nombre">Cobertura médica *</label>
                        <input type="text" name="coberturaMedica" v-model="coberturaMedica" />

                        <label for="nombre">Nombre del contacto *</label>
                        <input type="text" name="nombreContacto" v-model="nombreContacto" />

                        <label for="nombre">Teléfono del contacto *</label>
                        <input type="text" name="telefonoContacto" v-model="telefonoContacto" />
                        <label for="nombre">Distancia *</label>
                        <input type="text" name="distancia" v-model="distancia" />
                    </div>
                    <button v-on:click="Actualizar()">Actualizar</button>                    
                </div>
            </div>
            <div v-if="error">
                <p>No se encuentra la Inscripcion </p>
            </div>
        </div>
    </section>
    <footer id="footer" class="footer-i"></footer>
    <script src="../js/headerYFooter.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/updatevue.js"></script>
</body>

</html>