@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    font-family: Quicksand, sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

#header {
    background-color: #333333;
}

.header-logo {
    height: 50px;
}

.nav-link:hover {
    color: orange;
}

.band {
    height: 8px;
    background-color: #399aa1;
}

#footer {
    font-size: 0.8rem;
    height: 50px;
    line-height: 1;
    background-color: #333333;
    color: #ffffff;
}

@media (min-width: 768px) {
    html {
        font-size: 1.25rem;
    }

    #header {
        height: 80px;
    }

    .navbar, #footer {
        height: 70px;
    }

    .band {
        height: 10px;
    }
}
/* Clases para validar */

.input-error {
    border-color: red;
}

input::placeholder {
    color: red;
}

.select-error {
    color: red;
    border-color: red;
}
