@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    font-family: Quicksand, sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

#header {
    background-color: #333333;
}

.header-logo {
    height: 50px;
}

.nav-link:hover, .custom-icon-edit:hover, .custom-icon-delete:hover {
    color: orange;
}

.band {
    height: 8px;
    background-color: #399aa1;
}

.maxWidth900 {
    max-width: 900px;
}

.btn {
    background-color: #399aa1;
    border-color: #399aa1;
    color: #ffffff;
}

.custom-table {
    border: 1px solid #399aa1;
}

.thead {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff;
}

.thead th:not(:last-child) {
    border-right: 1px solid #ffffff;
}

tbody, .custom-icon-edit {
    color: #399aa1;
}

.custom-icon-delete {
    color: red;
}

.form {
    color: #333333;
}

h1, h2 {
    font-weight: bolder;
    color: #399aa1;
}

label {
    font-weight: bolder;
}

.custom-border {
    color: #399aa1 !important;
    border: 2.6px solid #399aa1;
}

.focus-style:focus {
    border-color: orange;
    box-shadow: 0 0 0 0.25rem #ffa50040;
}

.p-nota {
    font-size: 0.8rem;
}

#footer {
    font-size: 0.8rem;
    height: 50px;
    line-height: 1;
    background-color: #333333;
    color: #ffffff;
}

@media (min-width: 768px) {
    html {
        font-size: 1.25rem;
    }

    #header {
        height: 80px;
    }

    .navbar, #footer {
        height: 70px;
    }

    .band {
        height: 10px;
    }
}