@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

/* General: Header */

.header-i {
    height: 58px;
    width: 100%;
    background-color: #333333;
    z-index: 1;
}

.logo-y-nav-i {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-i {
    margin-left: 10px;
    flex: 1;
}

.header-arrows-i label {
    font-size: 2rem;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
}

.input-menu-i {
    display: none;
}

.input-menu-i:checked ~ .nav-list-i {
    transform: translateY(0);
}

.nav-list-i {
    width: 100%;
    top: 58px;
    background-color: #333333;
    position: absolute;
    transform: translateY(-100%);
    transition: all 500ms ease;
    z-index: -1;
}

.nav-list-i ul {
    margin: 10px 0;
}

.nav-list-i a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.nav-list-i a:hover {
    color: orange;
}

.nav-i li {
    float: left;
    margin: 0 10px 0;
}

.nav-i a {
    color: #ffffff;
    text-decoration: none;
}

.nav-i a:hover {
    color: orange;
}

.band-i {
    height: 8px;
    width: 100%;
    background-color: #399aa1;
}

/* General: Footer */

.footer-i {
    font-size: 0.8rem;
    height: 50px;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-i a {
    margin: 0 7.5px;
}

.fa {
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
}



.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 3;
    background-color: rgba(245, 245, 245, 0.699);
    margin: 0.5rem;
    padding: 0.5rem;
}


input {
    border-style: solid;
    border-radius: 5px;
}

button {
    border-radius: 1rem;    
    margin-top: 1rem;
    font-size: 1.5rem;
}

label {
    font-size: 1.5em;    
}

.group,
select {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: max-content;
    height: auto;
}


/* Extra small devices (600px and down) */

@media (max-width: 600px) {

    
    section {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }
}
/* Small devices (600px and up) */
@media (min-width: 600px) {
}

/* Móviles en horizontal o tablets en vertical */

@media (min-width: 768px) {}

/* Tablets en horizonal y escritorios normales */

@media (min-width: 1024px) {}

/* Escritorios muy anchos */

@media (min-width: 1200px) {}